<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @behavior_modification_level.user_id %>
</p>

<p>
  <strong>Green:</strong>
  <%= @behavior_modification_level.green %>
</p>

<p>
  <strong>Low gi:</strong>
  <%= @behavior_modification_level.low_gi %>
</p>

<p>
  <strong>Oil:</strong>
  <%= @behavior_modification_level.oil %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @behavior_modification_level.balance %>
</p>

<p>
  <strong>Order:</strong>
  <%= @behavior_modification_level.order %>
</p>

<p>
  <strong>Light:</strong>
  <%= @behavior_modification_level.light %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @behavior_modification_level.drink %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @behavior_modification_level.alcohol %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @behavior_modification_level.morning %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @behavior_modification_level.dinner %>
</p>

<p>
  <strong>Snack:</strong>
  <%= @behavior_modification_level.snack %>
</p>

<p>
  <strong>Mental:</strong>
  <%= @behavior_modification_level.mental %>
</p>

<p>
  <strong>Midnight:</strong>
  <%= @behavior_modification_level.midnight %>
</p>

<p>
  <strong>Suger:</strong>
  <%= @behavior_modification_level.suger %>
</p>

<p>
  <strong>Pose:</strong>
  <%= @behavior_modification_level.pose %>
</p>

<p>
  <strong>Life:</strong>
  <%= @behavior_modification_level.life %>
</p>

<p>
  <strong>Muscle:</strong>
  <%= @behavior_modification_level.muscle %>
</p>

<p>
  <strong>Jogging:</strong>
  <%= @behavior_modification_level.jogging %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @behavior_modification_level.sports %>
</p>

<%= link_to 'Edit', edit_behavior_modification_level_path(@behavior_modification_level) %> |
<%= link_to 'Back', behavior_modification_levels_path %>
