<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "パスワードを確認する" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "登録", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
