<p id="notice"><%= notice %></p>

<p><%= @user.name %>さん</p>
<h3>行動記録をつける</h3>
<%= link_to "食事を記録する", new_meal_record_path %>

<p>体重を記録する</p>
<%= render 'shared/form_weight_recording' %>

<h3>過去の履歴見る</h3>
<p>健康行動を見る</p>

<p>過去の食事を見る<p>

<%= link_to "体重を確認", weights_path %>
