<h1>Listing skypes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Appointment date</th>
      <th>Completed</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skypes.each do |skype| %>
      <tr>
        <td><%= skype.user_id %></td>
        <td><%= skype.appointment_date %></td>
        <td><%= skype.completed %></td>
        <td><%= skype.comment %></td>
        <td><%= link_to 'Show', skype %></td>
        <td><%= link_to 'Edit', edit_skype_path(skype) %></td>
        <td><%= link_to 'Destroy', skype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skype', new_skype_path %>
