<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @skype.user_id %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @skype.appointment_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @skype.completed %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @skype.comment %>
</p>

<%= link_to 'Edit', edit_skype_path(@skype) %> |
<%= link_to 'Back', skypes_path %>
