<h1>Listing meal_records</h1>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>User</th>
      <th>Meal code</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_records.each do |meal_record| %>
      <tr>
        <td><%= meal_record.food_id %></td>
        <td><%= meal_record.user_id %></td>
        <td><%= meal_record.meal_code %></td>
        <td><%= meal_record.date %></td>
        <td><%= link_to 'Show', meal_record %></td>
        <td><%= link_to 'Edit', edit_meal_record_path(meal_record) %></td>
        <td><%= link_to 'Destroy', meal_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal record', new_meal_record_path %>
