<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group %><br>
    <%= f.number_field :group %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :description_1 %><br>
    <%= f.text_field :description_1 %>
  </div>
  <div class="field">
    <%= f.label :description_2 %><br>
    <%= f.text_field :description_2 %>
  </div>
  <div class="field">
    <%= f.label :description_3 %><br>
    <%= f.text_field :description_3 %>
  </div>
  <div class="field">
    <%= f.label :description_4 %><br>
    <%= f.text_field :description_4 %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :param_0 %><br>
    <%= f.number_field :param_0 %>
  </div>
  <div class="field">
    <%= f.label :param_1 %><br>
    <%= f.number_field :param_1 %>
  </div>
  <div class="field">
    <%= f.label :param_2 %><br>
    <%= f.number_field :param_2 %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
